.navbar{
    display: flex;
    align-items: center;
    color:#fff;
    height:25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   

    background-color: #f39c12;
}
.hamburger{
    color:#fff;
    
    margin-top: 4px;
    align-self: center;
}