
.products-container{
    background-color: #f6f6f6;
}
.products-container h1{
    text-align: center;
}

.products{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
}
.product{
    
    text-decoration: none;
    color:darkslategray
}